**/node_modules/*
**/dist/*
**/*.env
**/logs/*
**/network-config/*
**/userWallets/
**/certs/*
**/deployment/set_env_vars.sh
**/*.pem
**/*.cer
**/*.crt
**/*.tar
**/*.tar.*
**/package-lock.json
hlf-network/*