node_modules/*
node_modules_old/*
dist/*
**.env
logs/*
**keyStore/*
**network-config/*
**userWallets/
**certs/*
**node_modules.tar.xz
**node_modules.tar.gz
**platform_keyStore/*
**bank-keystore/*
**dtsp-certs/*
**.pem
**.cer
**.crt
**.id
**.tar
**.tar.*
**package-lock.json
**connection-profile.json